.view{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* console.log(res.data.doc.position);
        res.data.doc.position === "IN"
          ? navigate("/loan-registration")
          : navigate("/admin-dashboard"); */